/* Основные стили для всей страницы */
body {
    font-family: 'Roboto', sans-serif; /* Используем более современный шрифт */
    background-color: #f0f0f0; /* Светло-серый фон для чистого и свежего вида */
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Увеличиваем межстрочный интервал для лучшей читабельности */
}

/* Стили для шапки страницы */
header {
    background-color: #282c34; /* Темно-серый фон для шапки с оттенком синего */
    color: #61dafb; /* Светло-голубой цвет текста для контраста */
    padding: 20px; /* Увеличиваем внутренние отступы для более просторного вида */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Добавляем легкую тень для объема */
}

/* Стили для навигационных ссылок */
nav a {
    color: #61dafb;
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 15px; /* Добавляем отступы для более удобного взаимодействия */
    border-radius: 5px; /* Округляем края ссылок */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход при наведении */
}

nav a:hover {
    background-color: #61dafb; /* Подсвечиваем ссылки при наведении */
    color: #282c34; /* Изменяем цвет текста на темный */
}

/* Основные стили контента */
main {
    margin: 30px auto; /* Центрируем основной контент и увеличиваем отступ сверху */
    max-width: 1200px; /* Ограничиваем ширину основного контента для лучшей читабельности */
    padding: 20px;
    background-color: #fff; /* Белый фон для контрастного выделения контента */
    border-radius: 10px; /* Округляем края */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Тень для отделения основного контента от фона */
}

/* Стили для футера */
footer {
    margin-top: 40px; /* Увеличиваем отступ сверху для четкого отделения от контента */
    text-align: center;
    font-size: 0.85em; /* Еще немного уменьшаем размер шрифта для ненавязчивого вида */
    color: #888; /* Светло-серый цвет для текста */
    padding: 20px;
    background-color: #282c34; /* Темный фон для футера */
    color: #fff;
    border-top: 2px solid #61dafb; /* Тонкая полоска сверху для акцента */
}
