{% extends 'base.html' %}  <!-- Этот шаблон наследуется от 'base.html', который является основным шаблоном -->

{% block content %}  <!-- Начало блока контента, который будет вставлен в основной шаблон -->
<h2>Add Animal</h2>  <!-- Заголовок страницы: "Добавить животное" -->

<!-- Форма для добавления нового животного, отправляется методом POST -->
<form method="post">
    <!-- Метка для текстового поля ввода имени животного -->
    <label for="name">Name:</label>
    <!-- Поле ввода для имени животного, обязательное для заполнения -->
    <input type="text" id="name" name="name" required>
    <br>  <!-- Перенос строки для разделения полей ввода -->

    <!-- Метка для текстового поля ввода описания животного -->
    <label for="description">Description:</label>
    <!-- Текстовая область для ввода описания животного, обязательная для заполнения -->
    <textarea id="description" name="description" required></textarea>
    <br>  <!-- Перенос строки для разделения полей ввода -->

    <!-- Кнопка для отправки формы и добавления нового животного -->
    <button type="submit">Add Animal</button>
</form>

<!-- Ссылка для возврата к списку животных -->
<a href="{{ url_for('index') }}">Back to list</a>
{% endblock %}  <!-- Конец блока контента -->
