{% extends 'base.html' %}  <!-- Этот шаблон наследуется от 'base.html', который является основным шаблоном -->
{% block content %}  <!-- Начало блока контента, который будет вставлен в основной шаблон -->
<h2>{{ animal.name }}</h2>  <!-- Отображение имени животного, переданного в шаблон -->
<p>{{ animal.description }}</p>  <!-- Отображение описания животного, переданного в шаблон -->
<a href="{{ url_for('index') }}">Back to list</a>  <!-- Ссылка для возврата к списку животных -->
{% endblock %}  <!-- Конец блока контента -->
