<!DOCTYPE html>
<html lang="en">  <!-- Определяет тип документа и язык страницы как английский -->
<head>
    <meta charset="UTF-8">  <!-- Устанавливает кодировку символов как UTF-8 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Обеспечивает адаптивный дизайн страницы для мобильных устройств -->
    <title>{% block title %}Animal Site{% endblock %}</title>  <!-- Определяет заголовок страницы, который можно заменить в дочерних шаблонах -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Подключает файл CSS для стилизации, находящийся в папке 'static' -->
</head>
<body>
    <header>  <!-- Секция заголовка страницы -->
        <h1>Animal Encyclopedia</h1>  <!-- Основной заголовок страницы -->
        <nav>  <!-- Навигационная панель -->
            <a href="{{ url_for('index') }}">Home</a>  <!-- Ссылка на главную страницу сайта -->
        </nav>
    </header>
    <main>  <!-- Основное содержимое страницы -->
        {% block content %}{% endblock %}  <!-- Определяет блок для вставки содержимого дочерними шаблонами -->
    </main>
    <footer>  <!-- Секция подвала страницы -->
        <p>&copy; 2024 Animal Site</p>  <!-- Текст с указанием авторского права и года -->
    </footer>
</body>
</html>
