{% extends 'base.html' %}  <!-- Этот шаблон наследуется от 'base.html', который является основным шаблоном -->

{% block content %}  <!-- Начало блока контента, который будет вставлен в основной шаблон -->
<h2>Edit Animal</h2>  <!-- Заголовок страницы: "Редактировать животное" -->

<!-- Форма для редактирования информации о животном, отправляется методом POST -->
<form method="post">  
    <!-- Метка для текстового поля ввода имени животного -->
    <label for="name">Name:</label>  
    <!-- Поле ввода для имени животного, с предзаполненным значением текущего имени -->
    <input type="text" id="name" name="name" value="{{ animal.name }}" required>  
    <br>  <!-- Перенос строки для разделения полей ввода -->
    
    <!-- Метка для текстового поля ввода описания животного -->
    <label for="description">Description:</label>  
    <!-- Текстовая область для ввода описания животного, с предзаполненным значением текущего описания -->
    <textarea id="description" name="description" required>{{ animal.description }}</textarea>  
    <br>  <!-- Перенос строки для разделения полей ввода -->

    <!-- Кнопка для отправки формы и обновления информации о животном -->
    <button type="submit">Update Animal</button>  
</form>

<!-- Ссылка для возврата к списку животных -->
<a href="{{ url_for('index') }}">Back to list</a>  
{% endblock %}  <!-- Конец блока контента -->
