{% extends 'base.html' %}  <!-- Этот шаблон наследуется от 'base.html', который является основным шаблоном -->

{% block content %}  <!-- Начало блока контента, который будет вставлен в основной шаблон -->
<h2>List of Animals</h2>  <!-- Заголовок страницы: "Список животных" -->

<!-- Ссылка для добавления нового животного, перенаправляет на страницу добавления -->
<a href="{{ url_for('add_animal') }}">Add New Animal</a> |  
<!-- Ссылка для поиска животных, перенаправляет на страницу поиска -->
<a href="{{ url_for('search_animal') }}">Search Animals</a>

<ul>  <!-- Начало маркированного списка для отображения списка животных -->
    {% for animal in animals %}  <!-- Начало цикла, который проходит по каждому животному в списке -->
    <li>
        <!-- Ссылка на страницу с информацией о конкретном животном -->
        <a href="{{ url_for('show_animal', id=animal.id) }}">{{ animal.name }}</a> |
        <!-- Ссылка на страницу редактирования информации о животном -->
        <a href="{{ url_for('edit_animal', id=animal.id) }}">Edit</a> |
        <!-- Ссылка для удаления животного, с подтверждением удаления через JavaScript -->
        <a href="{{ url_for('delete_animal', id=animal.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
    </li>
    {% endfor %}  <!-- Конец цикла по списку животных -->
</ul>

{% endblock %}  <!-- Конец блока контента -->
