{% extends 'base.html' %}  <!-- Этот шаблон наследуется от 'base.html', который является основным шаблоном -->

{% block content %}  <!-- Начало блока контента, который будет вставлен в основной шаблон -->
<h2>Search Animals</h2>  <!-- Заголовок страницы: "Поиск животных" -->

<form method="post">  <!-- Начало формы, которая будет отправлена методом POST -->
    <label for="search_term">Search:</label>  <!-- Метка для текстового поля поиска -->
    <input type="text" id="search_term" name="search_term" required>  <!-- Текстовое поле для ввода поискового запроса; атрибут required указывает, что поле обязательно для заполнения -->
    <button type="submit">Search</button>  <!-- Кнопка для отправки формы с текстом "Search" -->
</form>

{% endblock %}  <!-- Конец блока контента -->
